@model PrzedszkoleData.Data.CMS.GodzinyOtwarcia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GodzinyOtwarcia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dzien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dzien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GodzinaOtwarciaOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GodzinaOtwarciaOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GodzinaOtwarciaDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GodzinaOtwarciaDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAktywny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyAktywny)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
